*{
	margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
}

.superior {
    background-color: darkblue;
    color: white;
     text-align: center;
     font-family: sans-serif,"Helvetica Neue",Helvetica,Arial;
}


.cabecalho {
    margin: auto;
    background-color: #33b9ec;
    color: white;
    width: 330px;
    height: 50px;
    text-align: center;
    font-family: sans-serif,"Helvetica Neue",Helvetica,Arial;
    font-size: 14px;
    
}



.formulario {
    display: flex;
    margin: auto;
    justify-content: space-around;
    background-color:#33343e; 
    width: 272px;
    height: 300px;
    padding: 30px;  
    flex-direction: column;
    font-family: sans-serif,"Helvetica Neue",Helvetica,Arial;
    font-size: 16px;
} 

 textarea {
        height: 150px;
        width: 260px;
        border: 1px solid;
        font-size: 14px;
        text-align: center;
        font-size: 16px;
        font-family: sans-serif,"Helvetica Neue",Helvetica,Arial;
        
    }

button {
    background-color: #33b9ec;
    color: white;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    text-transform: uppercase;
    width: 100px;
    height: 50px;
    float: right;
    font-family: sans-serif,"Helvetica Neue",Helvetica,Arial;
    
      
}

.main {
   display: flex;
   padding: 50px;
   flex-direction: column;
   padding:  20px;
   gap: 7px;
}

p {
    text-align: center;
    font-family: sans-serif,"Helvetica Neue",Helvetica,Arial;
    color: #7d7d7d;
        
}
